Source: gti
Section: games
Priority: extra
Maintainer: Felix Crux <felixc@felixcrux.com>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.4
Homepage: http://r-wos.org/hacks/gti
Vcs-Git: git://gitorious.org/deb-packaging/gti-deb-packaging.git
Vcs-Browser: https://gitorious.org/deb-packaging/gti-deb-packaging

Package: gti
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: git
Suggests: sl
Description: Animates a car and launches git if you type 'gti' by mistake
 gti is intended to catch accidental typos of 'gti' instead of 'git'. It
 displays an animation of a car driving by, and then launches git.
 .
 The car image is derived from the look of the original VW Golf GTI.
